.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start {
    position: fixed;
     @media screen and  (max-width:700px) {
        height: 40vh;
        width: 80vw;
        top: 30%;
        left: 10%;
    }
      @media screen and  (min-width:700px) {
        height: 60vh;
        width: 50vw;
        top: 20%;
        left: 25%;
      }
      box-sizing: border-box;
      background-color: rgb(14, 11, 110);
      z-index: 20;
      border-radius: 20px;
}
#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 18;
}
.spop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      gap: 20px;
}
.p1{
    color: yellow;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.s1{
    display: block;
    width: 70%;
    height: 10%;
    border-radius: 20px;
    background-color: yellow;
    padding: 10px;
}
#message{
    color: rgb(255, 30, 0);
    width: 80%;
    font-size: 1.2rem;
    text-align: center;
}
label {
    color: yellow;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.s2 {
    margin-left: 20px;
    height: 8%;
    border-radius: 10px;
    background-color: yellow;
    padding: 10px;
}
* {
    margin: 0;
    padding: 0;
}

#status {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    position: sticky;
    z-index: 10;
    top: 0;
}

#roll {
    border-radius: 20px;
    margin: 10px;
}

#dice {
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rollAnimation {
    animation: roll 1.5s ease-in-out;
}

#name {
    background-color: #B71C1C;
    height: 80%;
    width: auto;
    padding: 5px;
    font-family: cursive;
    font-size: 2rem;
    align-content: center;
    border-radius: 20px;
    color: rgb(240, 237, 240);
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
}

#board {
    background-color: rgb(76, 87, 203);
    position: relative;
    width: 100%;
    height: 5100px;
    /* background-image: url(images/crazyAdventure3.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

#bg {
    margin-top: 1px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cell {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 191, 57);
}

@media screen and (max-width: 400px) {
    .cell {
        width: 10vw;
        aspect-ratio: 1/1;
    }
}

.player {
    height: 50%;
    width: 50%;
    transform-origin: center;
    opacity: 0.6;
    border-radius: 50px;
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 8;
}

.HL {
    border: 4px solid gold;
    opacity: 1;
    top: 21px;
    left: 21px;
}

#win {
    height: 50vh;
    width: 50vw;
    position: fixed;
    bottom: 200px;
    z-index: 19;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 117, 42);
    border-radius: 20px;
    left: 25vw;
    display: none;
    font-size: 50px;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(164, 44, 0);
    font-size: 32px;
    aspect-ratio: 1;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 20px;
}

.number {
    position: absolute;
    top: 0px;
    left: 8px;
    font-size: 2rem;
    font-family: cursive;
}
#endScreen{
     position: fixed;
    z-index: 21;
    @media screen and  (max-width:700px) {
        height: 60vh;
        width: 80vw;
        top: 20%;
        left: 10%;
    }
     @media screen and  (min-width:700px) {
        height: 70vh;
        width: 80vw;
        top: 15%;
        left: 10%;
      }
      background-color:rgb(14, 11, 110);
      border-radius: 20px;
      box-sizing: border-box;
      border: 5px solid rgb(30, 166, 203);
      display: none;
}
#winList{
    flex-direction: column;
    list-style-type: none;
}
.WL{
    color: yellow;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tli {
    position: absolute;
    top: 10px;
    font-size: 2.5rem;
}
#Home {
    position: absolute;
    bottom: 10px;
    font-size: 1.5rem;
}