* {
    margin: 0;
    padding: 0;
}

#status {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    position: sticky;
    z-index: 10;
    top: 0;
}
#roll {
    border-radius: 20px;
}
#dice {
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rollAnimation {
    animation: roll 1.5s ease-in-out;
}
#name{
    background-color: rgb(83, 208, 220);
    height: 80%;
    width: auto;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    align-content: center;
    border-radius: 20px;
    color: rgb(44, 11, 42);
}
#board {
    background-color: rgb(76, 87, 203);
    position: relative;
    width: 100%;
    height: 5100px;
    /* background-image: url(images/crazyAdventure3.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}
#bg {
    margin-top: 1px;
    width: 100%;
    height: auto;
    z-index: 0;
}

.cell {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 2px solid black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 191, 57);
}

@media screen and (max-width: 400px) {
    .cell {
        width: 10vw;
        aspect-ratio: 1/1;
    }
}

.player {
    height: 50px;
    width: 50px;
    opacity: 0.6;
    border-radius: 50px;
    display: none;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 8;
}
.HL {
    border: 4px solid gold;
}
#win {
    height: 50vh;
    width: 50vw;
    position: fixed;
    bottom: 200px;
    z-index: 9;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 117, 42);
    border-radius: 20px;
      left: 25vw;
      display: none;
      font-size: 50px;
      overflow: hidden;
}
#close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(164, 44, 0);
    font-size: 32px;
    aspect-ratio: 1;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 20px;
}